In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
data['profit'] = data.revenue - data.budget
data['title_length'] = data.original_title.map(lambda x: len(x))
data['title_words'] = data.original_title.map(lambda x: x.count(' ')+1)

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
var = data[data.budget == data.budget.max()].original_title
display(var)
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
var = data[data.runtime == data.runtime.max()].original_title
display(var)
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
var = data[data.runtime == data.runtime.min()].original_title
display(var)
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
meantime = data.runtime.mean()
display(meantime)
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
mediantime = data.runtime.median()
display(mediantime)
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
var = data[data.profit == data.profit.max()].original_title
display(var)
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
var = data[data.profit == data.profit.min()].original_title
display(var)
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
len(data[data.profit>0])
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
data_2008 = data[data.release_year == 2008]
var = data_2008[data_2008.revenue == data_2008.revenue.max()].original_title
display(var)
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
data2012_14 = data.query('2011 < release_year < 2015')
var = data2012_14[data2012_14.profit == data2012_14.profit.min()].original_title
display(var)
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
data_profit = data[data.profit>0]
pd.DataFrame(data_profit.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
data.director.value_counts()[0:1]
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
data[data.profit>0].director.value_counts()[0:1]
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False)[0:1]
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
c = Counter()
for index, row in data.iterrows():
    actors = row['cast'].split('|')
    for actor in actors:
        c[actor] += row['profit']
display(c.most_common(1))
answer_ls.append(1)

[('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
data2012 = data.query('release_year==2012')
c = Counter()
for index, row in data2012.iterrows():
    actors = row['cast'].split('|')
    for actor in actors:
        c[actor] += row['profit']
display(c.most_common()[:-5:-1])
answer_ls.append(3)

[('Kirsten Dunst', -68109207),
 ('Heidi Hawkins', -51893525),
 ('James Kidnie', -51893525),
 ('Timothy Spall', -51893525)]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
data_high_budget = data.query('budget>budget.mean()')
c = Counter()
for index, row in data_high_budget.iterrows():
    actors = row['cast'].split('|')
    for actor in actors:
        c[actor] += 1
display(c.most_common(5))
answer_ls.append(3)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
data_Cage = data[data.cast.map(lambda x: True if 'Nicolas Cage' in x else False)]
pd.DataFrame(data_Cage.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
data2015 = data.query('release_year==2015')
pd.DataFrame(data2015.production_companies.str.split('|').tolist()).stack().value_counts()
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
c = Counter()
data_comedy = data[data.genres.map(lambda x: True if 'Comedy' in x else False)]
for index, row in data_comedy.iterrows():
    studios = row['production_companies'].split('|')
    for studio in studios:
        c[studio] += row['profit']
display(c.most_common(5))
answer_ls.append(2)

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
data2012 = data.query('release_year==2012')
c = Counter()
for index, row in data2012.iterrows():
    studios = row['production_companies'].split('|')
    for studio in studios:
        c[studio] += row['profit']
display(c.most_common(5))
answer_ls.append(3)

[('Columbia Pictures', 2501406608),
 ('Universal Pictures', 1981011579),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1258020056),
 ('Relativity Media', 1032593938)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
data_Paramount = data[data.production_companies.map(lambda x: True if 'Paramount' in x else False)]
var = data_Paramount[data_Paramount.profit == data_Paramount.profit.min()]
display(var)
answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,title_length,title_words
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,20,3

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
c = Counter()
for index, row in data.iterrows():
    year = row['release_year']
    c[year] += row['profit']
display(c.most_common(5))
answer_ls.append(5)

[(2015, 18668572378),
 (2014, 16397812953),
 (2012, 16077001687),
 (2013, 15243179791),
 (2011, 14730241341)]

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
data_Warner = data[data.production_companies.map(lambda x: True if 'Warner' in x else False)]
c = Counter()
for index, row in data_Warner.iterrows():
    year = row['release_year']
    c[year] += row['profit']
display(c.most_common(5))
answer_ls.append(1)

[(2014, 2295464519),
 (2007, 2208217007),
 (2008, 2134595031),
 (2010, 1974712985),
 (2011, 1871393682)]

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
c = Counter()
for index, row in data.iterrows():
    month = row['release_date'].split('/')[0]
    c[month] += 1
display(c.most_common(5))
answer_ls.append(4)

[('9', 227), ('12', 191), ('10', 186), ('8', 161), ('3', 156)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
c = Counter()
for index, row in data.iterrows():
    month = row['release_date'].split('/')[0]
    c[month] += 1
summer = c['6']+c['7']+c['8']
display(summer)
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
d = Counter()
for index, row in data.iterrows():
    month = row['release_date'].split('/')[0]
    directors = row['director'].split('|')
    if month == '12' or month == '1' or month == '2':
        for dir in directors:
            d[dir] += 1
display(d.most_common(5))
answer_ls.append(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
most_profit_month = {}
for i in range(int(data.release_year.min()),int(data.release_year.max())+1):
    data_year = data[data.release_year==i]
    c = Counter()
    for index, row in data_year.iterrows():
        month = row['release_date'].split('/')[0]
        c[month] += row['profit']
        most_profit_month[i] = c.most_common(1)[0][0]
d = Counter()
for i in most_profit_month.values():
    d[i] += 1
display(d.most_common())
answer_ls.append(2)

[('6', 7), ('12', 4), ('5', 4), ('7', 1)]

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
data['title_length'] = data.original_title.map(lambda x: len(x))
def counter(movie_db, x):
    dat=pd.Series(movie_db[x].str.cat(sep='|').split('|'))
    info=dat.value_counts()
    return info
companies = counter(data,'production_companies')
for c in companies.index:
    companies[c] = data.title_length[data.production_companies.map(lambda x: True if c in x else False)].mean()
companies = pd.DataFrame(companies).sort_values(0, ascending=False)
companies
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
data['title_words'] = data.original_title.map(lambda x: x.count(' ')+1)
def counter(movie_db, x):
    dat=pd.Series(movie_db[x].str.cat(sep='|').split('|'))
    info=dat.value_counts()
    return info
companies = counter(data,'production_companies')
for c in companies.index:
    companies[c] = data.title_words[data.production_companies.map(lambda x: True if c in x else False)].mean()
companies = pd.DataFrame(companies).sort_values(0, ascending=False)
companies
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
all_words = []
for index, row in data.iterrows():
    words = row['original_title'].lower().split()
    all_words.extend(words)
pd.Series(all_words).nunique()
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
data[data['vote_average']>data.quantile(0.99)['vote_average']]
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
c = Counter()
for index, row in data.iterrows():
    actors = row['cast'].split('|')
    for pair in combinations(actors, 2):
        c[pair] += 1
c.most_common(5)
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
c = Counter()
d = Counter()
e = Counter()
for index, row in data.iterrows():
    directors = row['director'].split('|')
    for dir in directors:
        c[dir] += 1
        if row['profit'] > 0:
            d[dir] += 1
            e[dir] = d[dir] / c[dir]
e.most_common()
answer_ls.append(4)

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4